@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.left-links, .right-links {
  display: flex;
  padding: 16px;
  gap: 16px;
  margin: 0px;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  background-color: #eeeeee;
}

.buttons {
  display: flex;
  gap: 20px;
}

button {
  padding: 8px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(90,90,90);
}
